<div class="container mt-3">
    <form action="/participants/{{#if action }}save{{else}}create{{/if}}" method="post">
        <input type="hidden" name="id" value="{{participant_editing.id}}">

        <div class="mb-3">
            <label class="form-label" for="name">Nome do Participante</label>
            <input type="text" id="name" class="form-control" name="name" value="{{participant_editing.name}}" required>
        </div>


        <div class="mb-3">
            <label for="age" class="form-label">Idade</label>
            <input type="number" id="age" class="form-control" name="age" value="{{participant_editing.age}}" required>
        </div>

        <div class="mb-3">
            <label for="telephone" class="form-label">Telefone</label>
            <input type="text" id="telephone" class="form-control" name="telephone"
                value="{{participant_editing.telephone}}" required>
        </div>


        <button type="submit" class="btn btn-vermelho-custom">{{#if action }}Salvar Edição{{else}}Criar
            Participante{{/if}}</button>
    </form>
</div>


<hr>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Telefone</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each participants}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.telephone}}</td>
                <td class="d-flex justify-content-center gap-2">
                    <form action="/participants/edit" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit" class="btn btn-info text-white">Editar</button>
                    </form>
                    <form action="/participants/delete" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>