<h1>Organizadores</h1>

<div class="container">
    <form action="/organizers/{{#if action }}save{{else}}create{{/if}}" method="post">
    <input type="hidden" name="id" value="{{organizer_editing.id}}">

<div class="mb-3" >
  <label for="name" class="form-label">Nome do Organizador</label>
    <input type="text" class="form-control" id="name" name="name" value="{{organizer_editing.name}}" required>
</div>
  

<div class="mb-3" >   
     <label for="contact" class="form-label">Contato (Telefone)</label>
    <input type="text" class="form-control" id="contact" name="contact" value="{{organizer_editing.contact}}" required>
    </div>


<div class="mb-3" > 
      <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="{{organizer_editing.email}}" required>
    </div>
 

    <button type="submit" class="btn btn-primary">{{#if action }}Salvar Edição{{else}}Criar Organizador{{/if}}</button>
</form>
</div>


<hr>

<div class="container">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Contato</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {{! Itera sobre a lista de organizadores passada pelo controller }}
        {{#each organizers}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.contact}}</td>
            <td>{{this.email}}</td>
            <td class="d-flex justify-content-center gap-2">
                {{! Formulário para o botão de editar }}
                <form action="/organizers/edit" method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit" class="btn btn-info text-white">Editar</button>
                </form>

                {{! Formulário para o botão de deletar }}
                <form action="/organizers/delete" method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

